body {
    background-image: url('https://github.com/vikaschouhan97/Meon_task/blob/main/images/background.jpg?raw=true');
    background-size: cover;                
    background-repeat:   no-repeat;
    color: #fff;
    text-align: center;
}

.row {
    margin: 0;
}

.logo {
    margin: 5% 0% 5% 7%;
    font-weight: bold;
    font-size: x-large;
    text-align: left;
}

.main_img {
    width: 80%;
    height: 100%;
}

.description {
    text-align: left;
}

.content {
  margin-top: 10%;
}

button {
    width: 40%;
}

footer {
    text-align: right;
    margin: 0 5% 5% 0;
}

a {
    color: inherit;
}

a:hover {
    color: rgb(172, 172, 172);
}

@media screen and (max-width: 768px) {
    .description {
        text-align: center;
        margin: auto 5% auto 5%;
    }

    footer {
        margin: 5% 0 0 0;
        text-align: center;
    }
}
